body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.6;

    
    background: linear-gradient(135deg, #ff9ecb, #ffc0cb, #ff69b4);
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

nav {
    margin: 10px;
}

button {
    background-color: black;
    color: pink;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.seccion {
    display: none;
    background-color: rgba(255, 255, 255, 0.9); /* se ve mejor con el fondo */
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: black;
    color: pink;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 375px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}